<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Notifications</title>

    <!-- Common head elements partial   -->
    <head th:insert="~{fragments/head.html :: common-header}"></head>

    <link th:href="@{/css/notifications.css}" rel="stylesheet"/>
</head>

<body>
<!--Navbar partial-->
<nav th:insert="~{fragments/navbar.html :: navbar('notifications')}"></nav>

<section>
    <div class="container mt-5">
        <div class="row">

            <div class="col-sm-12">
                <div class="page-title">
                    <h2>Notification Center</h2>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="alert alert-success text-left font__family-montserrat font__size-16 font__weight-light">
                    <strong class="font__weight-semibold">Your "Spring Break" trip is coming soon!</strong> Your
                    trip starts on 05/16/24, it's best to start packing!
                </div>
            </div>

            <div class="col-sm-12">
                <div class="alert alert-success text-left font__family-montserrat font__size-16 font__weight-light">
                    <strong class="font__weight-semibold">Your "Spring Break" trip is coming soon!</strong> Your
                    trip starts on 05/16/24, it's best to start packing!
                </div>
            </div>

            <div class="col-sm-12">
                <div class="alert alert-success text-left font__family-montserrat font__size-16 font__weight-light">
                    <strong class="font__weight-semibold">Your "Spring Break" trip is coming soon!</strong> Your
                    trip starts on 05/16/24, it's best to start packing!
                </div>
            </div>

            <div class="col-sm-12">
                <div class="alert alert-success text-left font__family-montserrat font__size-16 font__weight-light">
                    <strong class="font__weight-semibold">Your "Spring Break" trip is coming soon!</strong> Your
                    trip starts on 05/16/24, it's best to start packing!
                </div>
            </div>

            <div class="col-sm-12">
                <div class="alert alert-success text-left font__family-montserrat font__size-16 font__weight-light">
                    <strong class="font__weight-semibold">Your "Spring Break" trip is coming soon!</strong> Your
                    trip starts on 05/16/24, it's best to start packing!
                </div>
            </div>

        </div>
    </div>
</section>


</body>

</html>